@import "../css/colors.scss";
@import "../css/nav.scss";
@import "../css/layout.scss";
@import "../css/media.scss";
@import "../css/footer.scss";

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: $bg-color;
}

a {
    color: $a-tag-color;
}










