

$bg-color : #bbb;
$primary-color: #4caf50;
$top-bar-color: #070264;
$footer-bar-color : #696969;


$a-tag-color : #000;
$a-tag-color-hover : #ddd;
$a-tag-color-active : #9293;
$header-bg-color: rgb(48, 89, 252);
